<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bcc4d697f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/header/header.css">

    {% endblock %}
</head>
<body>
    <header class="header">
        <h3 class="h3">GRADE</h3>
        <nav class="nav">
            <ul class="flex">
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Agregar</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    {% block main_frame %}{% endblock %}
</body>
</html>