{% extends "base.html" %}

{% block title %}
Nuevo
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}
{% block main_frame %}
<form action="{{ url_for('nuevoProducto')}}" method="POST" enctype="multipart/form-data">
    <div id="tituloPrincipal" class="tituloPrincipal">
        <h2>Datos del Producto</h2>
    </div>
    <div class="contenedorItem">
        <div class="item">
            <div class="titulo">
                <h2>Completá el nombre del producto</h2>
            </div>
            <div class="seccion">
                <input class="input inputborde" type="text" name="nombreProd" placeholder="Nombre del producto">
            </div>
        </div>
        <div class="item">
            <div class="titulo">
                <h2 class="h2span">¿Querés agregar una descripción?</h2><span class="spanOpcional">| Opcional</span>
            </div>
            <div class="seccion">
                <input class="input inputborde" type="text" name="descripcionProd" placeholder="Descripcion">
            </div>
        </div>
        <div class="item">
            <div class="titulo">
                <h2>¿Cuál es su precio?</h2>
            </div>
            <div class="seccion">
                <input  class="inputborde inputPrecio" name="precioProd" type="text" placeholder="$" maxlength="16">
            </div>
        </div>
        <!--
        <div class="item">
            <div class="titulo">
                <h2>Completá la categoria del producto</h2>
            </div>
            <div class="seccion">
                <input class="input inputborde" type="text" placeholder="categoria">
            </div>
        </div>
        -->
        
        <div class="item">
            <div class="titulo">
                <h2>¿Talle?</h2>
            </div>
            <div class="seccion">
                <div class="inline" id="conteinerTalle">
                    <div class="inline conteinerInputTalle" id="inputsTalle">
                        <input class="inputTalle " type="text" name="talles[]">
                    </div>
                </div>
                <div class="inline">
                    <button type="button" class="btnTalle" id="btnTalle">+ Elegir Talle</button>
                    <button type="button" id="btnSubmitTalles">Terminar</button>
                </div>
            </div>
        </div>
        
        <div class="itemFoto">
            <div class="titulo">
                <h2>Seleccionar la foto del producto</h2>
            </div>
            <div class="seccionFoto">
                <input class="input inputborde" type="file" id="fileElem" name="uploadFile" accept="image/*" style="display:none">
                <div class="selectCamera">
                    <a href="#" id="fileSelect">Seleccione una foto <i class="fa-solid fa-camera"></i></a>
                </div>
                <div id="fileConteiner">

                </div>
            </div>
        </div>
        <div class="item" id="tableTalles">
            
        </div>
        <button type="submit">enviar</button>
    </div>
</form>
<script src="../static/javascript/java.js"></script>
{% endblock %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0bcc4d697f.js" crossorigin="anonymous"></script>
    <title>Formulario</title>
</head>
<body>
    <div class="prueba">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nobis ea deserunt voluptatum inventore facilis repellat ab natus voluptas! Debitis provident dicta voluptas soluta id cum architecto eaque magnam repudiandae?</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sequi quisquam sint, aliquam esse quasi libero pariatur fugiat voluptates voluptatibus fugit dicta. Error, facere veritatis enim ducimus ullam voluptatum unde!</p>
    <form action="{{ url_for('nuevoProducto')}}" method="POST" enctype="multipart/form-data">
        <div id="tituloPrincipal" class="tituloPrincipal">
            <h2>Datos del Producto</h2>
        </div>
        <div class="contenedorItem">
            <div class="item">
                <div class="titulo">
                    <h2>Completá el nombre del producto</h2>
                </div>
                <div class="seccion">
                    <input class="input inputborde" type="text" name="nombreProd" placeholder="Nombre del producto">
                </div>
            </div>
            <div class="item">
                <div class="titulo">
                    <h2 class="h2span">¿Querés agregar una descripción?</h2><span class="spanOpcional">| Opcional</span>
                </div>
                <div class="seccion">
                    <input class="input inputborde" type="text" name="descripcionProd" placeholder="Descripcion">
                </div>
            </div>
            <div class="item">
                <div class="titulo">
                    <h2>¿Cuál es su precio?</h2>
                </div>
                <div class="seccion">
                    <input  class="inputborde inputPrecio" name="precioProd" type="text" placeholder="$" maxlength="16">
                </div>
            </div>
            -->
            <!--
            <div class="item">
                <div class="titulo">
                    <h2>Completá la categoria del producto</h2>
                </div>
                <div class="seccion">
                    <input class="input inputborde" type="text" placeholder="categoria">
                </div>
            </div>
            -->
<!--
            <div class="item">
                <div class="titulo">
                    <h2>¿Talle?</h2>
                </div>
                <div class="seccion">
                    <div class="inline" id="conteinerTalle">
                        <div class="inline conteinerInputTalle" id="inputsTalle">
                            <input class="inputTalle " type="text" name="talles[]">
                        </div>
                    </div>
                    <div class="inline">
                        <button type="button" class="btnTalle" id="btnTalle">+ Elegir Talle</button>
                        <button type="button" id="btnSubmitTalles">Terminar</button>
                    </div>
                </div>
            </div>
            
            <div class="itemFoto">
                <div class="titulo">
                    <h2>Seleccionar la foto del producto</h2>
                </div>
                <div class="seccionFoto">
                    <input class="input inputborde" type="file" id="fileElem" name="uploadFile" accept="image/*" style="display:none">
                    <div class="selectCamera">
                        <a href="#" id="fileSelect">Seleccione una foto <i class="fa-solid fa-camera"></i></a>
                    </div>
                    <div id="fileConteiner">

                    </div>
                </div>
            </div>
            <div class="item" id="tableTalles">
                
            </div>
            <button type="submit">enviar</button>
        </div>
    </form>
    <script src="../static/javascript/java.js"></script>
</body>
</html>
-->